<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MeetUps</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../Static/style.css">
	<link rel="stylesheet" href="../Static/flex.css">
</head>
<body>
	
	<header class="main-header">
		<h1 class="name"><a href="#">MeetUps</a></h1>
		<ul class="main-nav">
			<li><a href="#">SignUP</a></li>
			<li><a href="#">LogIn</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</header>

	<div class="banner">
		<img class="logo" src="../Static/logo.png" alt="logo">
		<button class="button">Create a MeetUp</button>
		<h1 class="headline">Meet like minded people</h1>
		<span class="tagline">The best way to schedule events.</span>
	</div>
	<h3>Popular Meetups Nearby</h3>	
	<div class="row">	
		

		<div class="meetup">
			<h3>Perl Devs</h3>
			<p>Friday 26th January 2019</p>
			<img class="logo" src="../Static/perl.png" alt="logo">
			<h4>Those intrested in Perl</h4>
		</div>

		<div class="meetup">
			<h3>R Devs</h3>
			<p>Friday 26th January 2019</p>
			<img class="logo" src="../Static/R.jpeg" alt="logo">
			<h4>Those intrested in R</h4>
		</div>

		<div class="meetup">
				<h3>Bio-informaticians </h3>
				<p>Friday 26th January 2019</p>
				<img class="logo" src="../Static/bioinfo.png" alt="logo">
				<h4>Those intrested in Bio-informatics</h4>
			</div>
		
		<div class="meetup">
				<h3>Big Data enthusiasts </h3>
				<p>Friday 26th January 2019</p>
				<img class="logo" src="../Static/data.png" alt="logo">
				<h4>Those intrested in Big Data</h4>
			</div>
		
	</div>
	
	<footer class="main-footer">
		<span>&copy;2019 barnabykamau@gmail.com.</span>
	</footer>
	
</body>
</html>