<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetUp</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../Static/style.css">
    <link rel="stylesheet" href="../Static/flex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
    <script src="..Static/script.js" ></script>

</head>
<body>
        <header class="main-header">
                <h1 class="name"><a href="index.html">MeetUps</a></h1>
                <ul class="main-nav">
                    <li><a href="signup.html">SignUP</a></li>
                    <li><a href="login.html">LogIn</a></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </header>
        
        <div class="banner" id="specific_meetup">
                <h1 class="headline">Pearl Devs</h1>
                <span class="tagline">Friday 26th January 2019</span>
                </div>
        <div class="info">
        <div class ="description">
            <h3>Location:HAPO NGARA</h3>
            <h3>Starts at:11.00am</h3>
            <h3>What were About</h3>
            <p>“Calling all Chihuahua owners! I'd love for my Chihuahua Becky to meet other Chihuahuas and other small dogs! We'll meet 
                once a week at the park to get together and let our dogs play. We can also meet at the Captain's Table down the street 
                (they allow dogs on their patio!) for some food and drink afterward.”</p> 
            <div class="dropup">
                    <button class="dropbtn">Attend?</button>
                    <div class="dropup-content">
                        <a href="#">Yes</a>
                        <a href="#">Maybe</a>
                        <a href="#">No</a>
                    </div>
            </div> 
        </div>

        <div class="discussion">
            <h3>Discussion</h3>
            <p><b>Join the Discussion</b></p> 
            <textarea class = "myTextArea" rows = "6" cols = "80"></textarea>  
    

            <div class="question">
                <p><b>John</b></p>
                <p>Suppose you are sitting in a windowless room. It begins to rain outside. You have not heard a weather report, so you don’t know that 
                    it’s raining. So you don’t believe that it’s raining. Thus your friend jack, who knows your situation, can say truly of you?</p>
                    <i class="fa fa-thumbs-up"></i>
                    <i class="fa fa-thumbs-down"></i>
                    <form>
                        <textarea>Add a comment...</textarea>
                      </form>
             </div>

            <div class="question">
                    <p><b>Mary</b></p>          
                    <p>The barber is the "one who shaves all those, and those only, who do not shave themselves." The question is, does the barber shave himself? </p>
                    <i class="fa fa-thumbs-up"></i>
                    <i class="fa fa-thumbs-down"></i>
                    <form>
                        <textarea>Add a comment...</textarea>
                      </form>
                </div>

            
            <div class="question">
                    <p><b>Jane</b></p>
                    <p> What if you travel in time and kill your grandfather before he meets your grandmother? </p>
                    <i class="fa fa-thumbs-up"></i>
                    <i class="fa fa-thumbs-down"></i>
                    <form>
                        <textarea>Add a comment...</textarea>
                      </form>
                
                
                </div>
        </div>
    </div>

         

        <footer class="main-footer">
                <span>&copy;2019 barnabykamau@gmail.com.</span>
            </footer>
            
</body>
</html>