<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MeetUps</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../Static/style.css">
	<link rel="stylesheet" href="../Static/flex.css">
</head>
<body>

	<header class="main-header">
            <h1 class="name"><a href="index.html">MeetUps</a></h1>
            <ul class="main-nav">
                <li><a href="">Logout</a></li>
            </ul>
	</header>
    <div class="details">
			<div class="card">
				<h4 style="text-align:center">User Profile Card</h4>
				<img src="../Static/avatar.jpg" alt="John" style="width:100%">
				<h1>John Doe</h1>
				<p>Questions Posted:1</p>
				<p>Comments:4</p>

			</div>
			<div class="questions">
			<h3>Top Questions Feed</h3>
			<div class="question">
					<p><b>John</b></p>
					<p>Suppose you are sitting in a windowless room. It begins to rain outside. You have not heard a weather report, so you don’t know that 
						it’s raining. So you don’t believe that it’s raining. Thus your friend jack, who knows your situation, can say truly of you?</p>
			</div>

			<div class="question">
					<p><b>Mary</b></p>          
					<p>The barber is the "one who shaves all those, and those only, who do not shave themselves." The question is, does the barber shave himself? </p>
					
				</div>

			
			<div class="question">
					<p><b>Jane</b></p>
					<p> What if you travel in time and kill your grandfather before he meets your grandmother? </p>
					
				</div>
			</div>
			</div>

	
	<footer class="main-footer">
		<span>&copy;2019 barnabykamau@gmail.com.</span>
	</footer>
	

	

	
</body>
</html>
