
@media (min-width: 769px) {
  .main-header,.main-nav,.banner,.row,.body{
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav{
    margin-left: auto;
    }

  .banner{
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    flex: 1;
  }

  .body{
    flex-direction: column;
    min-height: 100vh;

  }
  .meetup{
    display: inline-flex;
    flex: auto;
 
  }
  .container,.create_meetup{
    display: inline-flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {
  .main-header,.main-nav,.banner,.row,.meetup,.container, .create_meetup{
    display: flex;
  }

  .main-nav{
    justify-content: space-between;
  }

  .row{
    flex-wrap: wrap;
  }
  .banner{
    align-items:center;
  }
  
  .meetup{
    flex-direction: column;
  }

  .container, .create_meetup{
    flex-direction: column;
    margin: auto;
    width: 50%;
  }

}