
* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,h3,a {
	color: #093a58;
}
h2,h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	object-fit: cover;
  }
  
.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}


.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #A335A4;
	padding: 3.2em 0;
	margin-bottom: 48px;
	margin: auto;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.button{
	background-color: red;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}
  

.banner button:hover{
	background-color: #F93535;
}

.meetup {
	padding: 1em;
	background: #BBB5B5;
	border-radius: .35em;
	margin: 0 .5em .8em;

}
.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}


input[type=text], input[type=password],textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	background-color: #ddd;
	outline: none;
  }
  
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
  

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	opacity: 0.9;
  }
  
button:hover {
	opacity:1;
  }

.container {
	padding: 16px;
	box-sizing: border-box;
	background-color: #A335A4;
  }
	
.meetup:hover{
	transform: scale(1.1);
	transition: all ease 500ms;
  }

#one{
	background-image:url(../Static/oop.jpeg)
}

#two{
	background-image:url(../Static/two.jpg)

}

#three{
	background-image:url(../Static/three.jpg)
}

#four{
	background-image:url(../Static/four.jpeg)
}

#five{
	background-image:url(../Static/five.jpg)
}

#six{
	background-image:url(../Static/six.jpg)
}

.meetup p,.meetup h3{
	color:white;
}

#specific_meetup{
	background-image:url(../Static/oop.jpeg)
}
.description{
	padding: 16px;
	box-sizing: border-box;
	padding: 1em;
	background: #BBB5B5;
	border-radius: .35em;
	margin: 0 .5em .8em;
}

.question{
		padding: 16px;
		box-sizing: border-box;
		padding: 1em;
		background:#D3D3D3;
		border-radius: .35em;
		margin: 0 .5em .8em;
	}

.dropup {
	position: relative;
	display: inline-block;
  }
  
.dropup-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	bottom: -95px;
	z-index: 1;
  }
  
.dropup-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
.dropup-content a:hover {background-color: #ccc}
  
.dropup:hover .dropup-content {
	display: block;
  }
  
.dropup:hover .dropbtn {
	background-color: #2980B9;
	}

.fa ,.far{
		font-size: 50px;
		cursor: pointer;
		user-select: none;
	}
	
.fa:hover {
		color: darkblue;
}
.far{
	float:right;
}


.form-container {
  max-width:100%;
  padding: 10px;
  background-color: white;
}


@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}